body {
  font-family: "Open Sans" sans-serif;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

.card {
  position: relative;
  height: 220px;
  width: 357px;
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
  position: relative;
}


#difficulty {
  border: 1px white solid;
  border-radius: 50px;
  text-align: center;
  padding: 0.3em;
  width: 70%;
  margin-top: 0;
}

.titleItems {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  margin-left: 0.7em;
}

.titleItems span {
  cursor: pointer;
}

.bottomDetails {
  position: absolute;
  display: flex;
  background-color: lightgrey;
  width: 100%;
  justify-content: space-around;
  top: 175;
  color: white;
}

.bottomDetails p {
  padding: 0.35em;
  margin: 0.5em 0;
}

a {
  cursor: pointer;
}

.flipUp {
  display: flex;
  justify-content: space-around;
  background-color: #87d255;
  color: white;
}

.card .pushUp {
  transition: transform 0.4s;
}

.card:hover .pushUp {
  transform: translateY(-287px);
}

.flipUp {
  width: 100%;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.card:hover .flipUp{
  opacity: 1;
  transform: translateY(-67px);
  transition: transform 0.4s, opacity 0.1s;
}
